{{ define "account" -}}
{{ template "header" }}
  <body>
    <h1>Welcome {{ .User.DisplayName }}</h1>
    <form action="/accounts/{{ .User.ID }}" method="POST">
      <div>
        <label for="frequency">Frequency</label>
        <select id="frequency" name="frequency">
          <option value="12"{{ if eq .Frequency 12 }} selected{{ end }}>Every month</option>
          <option value="4"{{ if eq .Frequency 4 }} selected{{ end }}>Every 3 months</option>
          <option value="2"{{ if eq .Frequency 2 }} selected{{ end }}>Every 6 months</option>
          <option value="1"{{ if eq .Frequency 1 }} selected{{ end }}>Every 12 months</option>
        </select>
      </div>
      <div>
        <label for="limit">Number of tracks</label>
        <select id="limit" name="limit">
          <option value="10"{{ if eq .TrackLimit 10 }} selected{{ end }}>10</option>
          <option value="20"{{ if eq .TrackLimit 20 }} selected{{ end }}>20</option>
          <option value="30"{{ if eq .TrackLimit 30 }} selected{{ end }}>30</option>
        </select>
      </div>
      <div>
        <input type="checkbox" id="email" name="email" value="email"{{ if .WithEmail }}checked{{ end }} />
        <label for="email">Confirmation email</label>
      </div>
      <input type="submit" value="Submit" />
    </form>
    <div>
      <a href="/logout">Log out</a>
    </div>
    {{ if not .Next.IsZero -}}
    <div>
      <a href="/accounts/{{ .User.ID }}/unsubscribe">Unsubscribe</a>
    </div>
    <h2>Next playlist: {{ .Next.Format "2 Jan 2006" }}</h2>
    {{- end }}
  </body>
{{ template "footer" }}
{{- end }}
