{{ define "index" -}}
{{ template "header" }}
  <body class="is-preload">
    <div id="wrapper">
      <header id="header">
        <div class="content">
          <div class="inner">
            <h1>Spautofy</h1>
            <p>
              Automated creation of Spotify playlists based on your recent top tracks
            </p>
            <a href="/login" class="button secondary">
              <i class="fab fa-spotify"></i>&nbsp;&nbsp;Log in with Spotify
            </a>
          </div>
        </div>
      </header>
      <footer id="footer">
        <p class="copyright">
          &copy; Spautofy 2020.
          <a href="https://github.com/jace-ys/spautofy" target="_blank"
            >View code on GitHub</a
          >.
        </p>
      </footer>
    </div>
    <div id="bg"></div>
  </body>
{{ template "footer" }}
{{- end }}
