{{ define "playlist" -}}
{{ template "header" }}
  <body>
    <h1>{{ .Name }}</h1>
    {{ if .Link -}}
    <a href="{{ .Link }}">Link to playlist</a>
    {{- else -}}
    <form action="/accounts/{{ .UserID }}/playlists/{{ .Name }}" method="POST">
    {{- range .Tracks }}
      <div>
        <input type="checkbox" id="{{ .ID }}" name="{{ .ID }}" value="{{ .ID }}" checked/>
        <label for="{{ .ID }}">{{ .Name }} - {{ .Artists }}</label>
      </div>
    {{- end }}
      <input type="submit" value="Create" />
    </form>
    {{- end }}
  </body>
{{ template "footer" }}
{{- end }}
